In [1]:
import numpy as np
import pandas as pd
import re
import collections

In [ ]:
xls = pd.ExcelFile('Sales_Data.xlsx')
MCD = pd.read_excel(xls, 'Channel Sales MCD')
MCL = pd.read_excel(xls, 'Channel Sales MCL')

In [15]:
MCD.head()

,CHANNELS,COMPANY,OFFICE,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,TOTAL
0,Direct Channels,CEC,Head Office,69.0,141.0,121.0,35.0,28.0,93.0,63.0,121.0,150.0,195.0,561.0,431.0,2008.0
1,Direct Channels,CEC,Cebu,12.0,17.0,9.0,9.0,4.0,6.0,102.0,46.0,122.0,227.0,257.0,139.0,950.0
2,Direct Channels,CEC,Cagayan de Oro,44.0,16.0,6.0,5.0,22.0,105.0,10.0,32.0,71.0,160.0,171.0,51.0,693.0
3,Direct Channels,CEC,Bacolod,6.0,26.0,12.0,3.0,14.0,9.0,NaN,51.0,73.0,31.0,7.0,4.0,236.0
4,Direct Channels,CEC,Gensan,NaN,NaN,14.0,1.0,4.0,11.0,3.0,16.0,23.0,57.0,12.0,32.0,173.0

In [16]:
MCD.isnull().sum()

CHANNELS     0
COMPANY      0
OFFICE      43
JAN         52
FEB         51
MAR         51
APR         54
MAY         53
JUN         52
JUL         45
AUG         36
SEP         40
OCT         38
NOV         42
DEC         38
TOTAL        5
dtype: int64

In [17]:
MCD.drop(['TOTAL'], axis = 1, inplace = True)
MCD = pd.melt(MCD, id_vars=['CHANNELS','COMPANY', 'OFFICE'], value_vars=['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'])
MCD['OFFICE'].fillna('Head Office', axis = 0, inplace = True)
MCD.columns = ['Channels', 'Company', 'Office', 'Month', 'Sales']
MCD.fillna(0, inplace = True)

In [18]:
MCL.drop(['TOTAL'], axis = 1, inplace = True)
MCL = pd.melt(MCL, id_vars=['CHANNELS','COMPANY', 'OFFICE'], value_vars=['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'])
MCL['OFFICE'].fillna('Head Office', axis = 0, inplace = True)
MCL.columns = ['Channels', 'Company', 'Office', 'Month', 'Sales']
MCL.fillna(0, inplace = True)

In [19]:
MCD.to_csv('MCD_Sales.csv')
MCL.to_csv('MCL_Sales.csv')

In [4]:
MCD = pd.read_excel('MCD_Sales.xlsx')
MCL = pd.read_excel('MCL_Sales.xlsx')

In [5]:
MCD.head()

          Channels Company          Office Month  Sales
0  Direct Channels     CEC     Head Office   JAN     69
1  Direct Channels     CEC            Cebu   JAN     12
2  Direct Channels     CEC  Cagayan de Oro   JAN     44
3  Direct Channels     CEC         Bacolod   JAN      6
4  Direct Channels     CEC          Gensan   JAN      0

In [8]:
MCD['Insurance Type'] = 'MCD'

In [9]:
MCD.head()

          Channels Company          Office Month  Sales Insurance Type
0  Direct Channels     CEC     Head Office   JAN     69            MCD
1  Direct Channels     CEC            Cebu   JAN     12            MCD
2  Direct Channels     CEC  Cagayan de Oro   JAN     44            MCD
3  Direct Channels     CEC         Bacolod   JAN      6            MCD
4  Direct Channels     CEC          Gensan   JAN      0            MCD

In [11]:
cols = MCD.columns.tolist()
cols = cols[-1:] + cols[:-1]
MCD = MCD[cols]
MCD.head()

  Insurance Type         Channels Company          Office Month  Sales
0            MCD  Direct Channels     CEC     Head Office   JAN     69
1            MCD  Direct Channels     CEC            Cebu   JAN     12
2            MCD  Direct Channels     CEC  Cagayan de Oro   JAN     44
3            MCD  Direct Channels     CEC         Bacolod   JAN      6
4            MCD  Direct Channels     CEC          Gensan   JAN      0

In [12]:
MCL['Insurance Type'] = 'MCL'
cols = MCL.columns.tolist()
cols = cols[-1:] + cols[:-1]
MCL = MCL[cols]
MCL.head()

  Insurance Type         Channels Company          Office Month  Sales
0            MCL  Direct Channels     CEC     Head Office   JAN      6
1            MCL  Direct Channels     CEC            Cebu   JAN      0
2            MCL  Direct Channels     CEC  Cagayan de Oro   JAN      0
3            MCL  Direct Channels     CEC         Bacolod   JAN      0
4            MCL  Direct Channels     CEC          Gensan   JAN      0

In [13]:
merge = MCD.append(MCL, ignore_index = True)

In [14]:
merge.head()

  Insurance Type         Channels Company          Office Month  Sales
0            MCD  Direct Channels     CEC     Head Office   JAN     69
1            MCD  Direct Channels     CEC            Cebu   JAN     12
2            MCD  Direct Channels     CEC  Cagayan de Oro   JAN     44
3            MCD  Direct Channels     CEC         Bacolod   JAN      6
4            MCD  Direct Channels     CEC          Gensan   JAN      0

In [15]:
len(merge)

1992

In [16]:
len(MCD)

1044

In [17]:
len(MCL)

948

In [ ]:
merge.to_csv('Pioneer_Insurance.csv')